<h1> Paintr </h1>

<div id = 'current1' class= 'box'>
</div>

<input type = 'text' name = 'color' id = 'color' autofocus>
<input type = "submit" value = 'add color' id = 'add_color'>
<input type = "submit" value = 'clear' id = 'clear'>

<div id = 'colors'>
</div>

<div id = 'current_img'>
  <img id = 'img'>
</div>

<input type = 'text' name = 'image' id = 'image' autofocus>
<input type = "submit" value = 'add image' id = 'add_image'>
<input type = "submit" value = 'clear image' id = 'clearimg'>

<div id = 'images'>
</div>

<div id = 'canvas'></div>